<h4 class="text-center">Login</h4>

<!--<form [formGroup]="loginForm" class="form mt-4" (submit)="login()">

    <div class="form-group">
        <input #userNameInput
            formControlName="userName" 
            class="form-control" 
            placeholder="Nome de Usuário" 
            autofocus>
        <ap-vmessage
            *ngIf="!!loginForm.get('userName').errors?.required"
            text="Nome de Usuário necessário!">
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input 
            formControlName="password" 
            type="password" 
            class="form-control" 
            placeholder="Senha">
        <ap-vmessage
            *ngIf="!!loginForm.get('password').errors?.required" 
            text="Senha necessária!">
        </ap-vmessage>
    </div>

    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block">Logar</button>

</form>

<p>Não é cadastrado? <a [routerLink]="['signup']">Registre-se agora!</a></p> -->