<div class="row row-login-desktop">
    <div class="col-8 coluna-esquerda-login text-center">
        <img class="mt-5 login-img img-fluid" src="../../assets/img/img-sessao01.png" alt="Imagem Login">

    </div>
    <div class="col-4 align-self-center">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="row-login-mobile">
    <div class="row">
        <div class="col coluna-esquerda-login text-center">
            <img class="mt-5 login-img img-fluid" src="../../assets/img/img-sessao01.png" alt="Imagem Login">
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>