<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  {{title}}
</head>

<body>
  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row navbar-bg text-white sticky-top"
    style="background-color: #563d7c">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Moneyger">
      <img class="d-inline-block align-middle ml-5" src="../assets/img/moneyger-logo-white.png" width="40" height="40"
        alt="Logo">
      <span class="align-middle ml-2">Moneyger</span>
    </a>
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="#">Sobre Nós</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Como Funciona</a>
      </li>
    </ul>
  </header>

  <div class="main container position-relative">

    <div class="sessao-01 row">
      <div class="col">
        <p class="texto-sessao01">Gerencie Suas Finanças <strong>Sem Complicação</strong></p>
        <input type="email">
        <input type="button" value="Cadastre-se">
      </div>
      <div class="col">
        <img src="../assets/img/img-sessao01.jpg" alt="Mulher sorrindo" width="400">
      </div>
    </div>

    <div class="sessao-02">
      <p class="titulo-centralizado">
        <strong>Sobre</strong>
      </p>
      <div class="row">
        <div class="col d-inline-block">
          <img src="../assets/img/moneyger-logo.png" alt="Img" width="140px">
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col d-inline-block">
          <img src="../assets/img/moneyger-logo.png" alt="Img" width="140px">
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col d-inline-block">
          <img src="../assets/img/moneyger-logo.png" alt="Img" width="140px">
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col d-inline-block">
          <img src="../assets/img/moneyger-logo.png" alt="Img" width="140px">
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>

    <div class="sessao-03">
      <p class="titulo-centralizado">
        <strong>Como Funciona</strong>
      </p>

      <div class="row">
        <div class="col-md-2 order-md-1">
          <img src="../assets/img/moneyger-logo.png" alt="Img" width="140px">
        </div>
        <div class="col-md-9 order-md-2">
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis reprehenderit culpa corrupti fuga, quaerat id blanditiis, magnam veniam aliquid odio cupiditate perspiciatis sunt eum minus dolorem incidunt facilis consequatur labore?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 order-md-1">
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis reprehenderit culpa corrupti fuga, quaerat id blanditiis, magnam veniam aliquid odio cupiditate perspiciatis sunt eum minus dolorem incidunt facilis consequatur labore?</p>
        </div>
        <div class="col-md-2 order-md-2">
          <img src="../assets/img/moneyger-logo.png" alt="Img" width="140px">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 order-md-1">
          <img src="../assets/img/moneyger-logo.png" alt="Img" width="140px">
        </div>
        <div class="col-md-9 order-md-2">
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis reprehenderit culpa corrupti fuga, quaerat id blanditiis, magnam veniam aliquid odio cupiditate perspiciatis sunt eum minus dolorem incidunt facilis consequatur labore?</p>
        </div>
      </div>
    </div>

    <footer>

    </footer>

  </div>
</body>

</html>