.main {
    position: relative;
    padding-left: 0em;
    padding-right: 0em;
}

header {
    background-color: #563d7c;
}

section {
    padding-left: 2rem;
    padding-right: 2rem;
}
.sessao-01 {
    padding-left: 8em;
}

.texto-sessao01 {
    color: white;
    font-size: 3.5em;
}

.titulo-centralizado {
    text-align: center;
    font-size: 3em;
}

.btn-link, .btn-light {
    color: #563d7c;
}