<header class="navbar navbar-expand navbar-dark flex-column flex-md-row navbar-bg text-white sticky-top">
    <ul class="navbar-nav flex-row">
        <li class="nav-item my-auto">
            <a class="mr-0 mr-md-2 icone-grafico" [routerLink]="[ '/dashboard' ]" aria-label="Grafico">
                <img class="d-inline-block align-middle" src="../../../assets/icon/chart-bar-solid.svg" width="30"
                    height="30" alt="Grafico">
            </a>
        </li>
        <li class="nav-item my-auto">
            <a class="mr-0 mr-md-2 ml-4" [routerLink]="[ '/dashboard/objetivo' ]" aria-label="Objetivo">
                <img class="d-inline-block align-middle" src="../../../assets/icon/flag-solid.svg" width="30"
                    height="30" alt="Grafico">
            </a>
        </li>
        <li class="nav-item my-auto">
            <a class="mr-0 mr-md-2 ml-4" [routerLink]="[ '/dashboard/atualiza' ]" aria-label="Atualiza">
                <img class="d-inline-block align-middle" src="../../../assets/icon/dollar-sign-solid.svg" width="30"
                    height="30" alt="Grafico">
            </a>
        </li>
    </ul>
    <div class="dropdown div-dropdown">
        <!-- <button class="btn btn-light botao-dropdown dropdown-toggle" type="button" id="dropdownMenu2"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            *ngIf="(user$ | async) as user; else login">
            {{ user.nome }}
        </button> -->
        <button class="btn btn-light botao-dropdown dropdown-toggle" type="button" id="dropdownMenu2"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Breno Rodrigues Quadros
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a class="dropdown-item" type="button" [routerLink]="[ '/dashboard/perfil' ]">Editar Perfil</a>
            <a class="dropdown-item" type="button" [routerLink]="[ '/dashboard/suporte' ]">Suporte</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" type="button" (click)="logout()">Logout</a>
        </div>
    </div>
    <ng-template #login class="ml-auto">
        <span class="navbar-text botao-dropdown">
            <a [routerLink]="['../login']">Faça o Login!</a>
        </span>
    </ng-template>
</header>