<header class="navbar navbar-expand navbar-dark flex-column flex-md-row navbar-bg text-white sticky-top">
    <ul class="navbar-nav flex-row my-2">
        <li class="nav-item my-auto ml-3">
            <a class="mr-0 mr-md-2 ml-5" href="/dashboard" aria-label="Grafico">
                <img class="d-inline-block align-middle" src="../../../assets/icon/chart-bar-solid.svg" width="30"
                    height="30" alt="Grafico">
            </a>
        </li>
        <li class="nav-item my-auto">
            <a class="mr-0 mr-md-2 ml-4" href="/dashboard/objetivo" aria-label="Grafico">
                <img class="d-inline-block align-middle" src="../../../assets/icon/flag-solid.svg" width="30"
                    height="30" alt="Grafico">
            </a>
        </li>
        <li class="nav-item my-auto">
            <a class="mr-0 mr-md-2 ml-4" href="/dashboard/atualiza" aria-label="Grafico">
                <img class="d-inline-block align-middle" src="../../../assets/icon/dollar-sign-solid.svg" width="30"
                    height="30" alt="Grafico">
            </a>
        </li>
    </ul>
    <div class="dropdown ml-auto">
        <button class="btn btn-light dropdown-toggle mr-5" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Breno Rodrigues Quadros
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a class="dropdown-item" type="button" href="/">Editar Perfil</a>
            <a class="dropdown-item" type="button" href="/">Suporte</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" type="button" href="/">Logout</a>
          </div>
    </div>
</header>