<div class="mobile-layout container">
    <div class="mt-4 text-center">
        <h1 class="mb-3 mt-2 font-weight-normal">Suporte</h1>
    </div>
    <form [formGroup]="suporteForm" (submit)="enviarEmail()" class="form-suporte">
        <div class="form-group">
            <label for="tipoAssunto">Selecione o Assunto</label>
            <select formControlName="assunto" class="form-control" id="tipoAssunto">
                <option value="Problema com a Conta">Problema com a Conta</option>
                <option value="Recuperação de Senha">Recuperação de Senha</option>
                <option value="Problema com o Sistema">Problema com o Sistema</option>
                <option value="Outro">Outro</option>
            </select>
            <ap-vmessage *ngIf="!!suporteForm.get('assunto').errors?.required" text="Escolha do assunto é obrigatório!">
            </ap-vmessage>
        </div>

        <div class="form-group">
            <label for="tituloMensagem">Título</label>
            <input formControlName="titulo" class="form-control" id="tituloMensagem" type="text">
            <ap-vmessage *ngIf="!!suporteForm.get('titulo').errors?.required" text="Título é obrigatório!">
            </ap-vmessage>
        </div>

        <div class="form-group">
            <label for="textoSuporte">Mensagem</label>
            <textarea formControlName="mensagem" class="form-control" id="textoSuporte" rows="5"></textarea>
            <ap-vmessage *ngIf="!!suporteForm.get('mensagem').errors?.required" text="Mensagem é obrigatória!">
            </ap-vmessage>
            <ap-vmessage *ngIf="!!suporteForm.get('mensagem').errors?.maxlength" text="Máximo de 255 caracteres!">
            </ap-vmessage>
        </div>

        <button [disabled]="suporteForm.invalid" type="submit" class="btn btn-primary btn-block">Enviar</button>

    </form>
</div>

<!-- Divisão Layout mobile e desktop -->

<div class="desktop-layout container">
    <div class="mt-4 text-center">
        <!-- <img class="img-perfil" src="../../../assets/img/img-perfil.png" alt="Imagem perfil"> -->
        <h1 class="mb-3 mt-2 font-weight-normal">Suporte</h1>
    </div>
    <div class="row mt-4">
        <div class="col">
        </div>

        <div class="col">
            <form [formGroup]="suporteForm" (submit)="enviarEmail()" class="form-suporte">
                <div class="form-group">
                    <label for="tipoAssunto">Selecione o Assunto</label>
                    <select formControlName="assunto" class="form-control" id="tipoAssunto">
                        <option value="Problema com a Conta">Problema com a Conta</option>
                        <option value="Recuperação de Senha">Recuperação de Senha</option>
                        <option value="Problema com o Sistema">Problema com o Sistema</option>
                        <option value="Outro">Outro</option>
                    </select>
                    <ap-vmessage *ngIf="!!suporteForm.get('assunto').errors?.required"
                        text="Escolha do assunto é obrigatório!">
                    </ap-vmessage>
                </div>

                <div class="form-group">
                    <label for="tituloMensagem">Título</label>
                    <input formControlName="titulo" class="form-control" id="tituloMensagem" type="text">
                    <ap-vmessage *ngIf="!!suporteForm.get('titulo').errors?.required" text="Título é obrigatório!">
                    </ap-vmessage>
                </div>

                <div class="form-group">
                    <label for="textoSuporte">Mensagem</label>
                    <textarea formControlName="mensagem" class="form-control" id="textoSuporte" rows="5"></textarea>
                    <ap-vmessage *ngIf="!!suporteForm.get('mensagem').errors?.required" text="Mensagem é obrigatória!">
                    </ap-vmessage>
                    <ap-vmessage *ngIf="!!suporteForm.get('mensagem').errors?.maxlength"
                        text="Máximo de 255 caracteres!">
                    </ap-vmessage>
                </div>

                <button [disabled]="suporteForm.invalid" type="submit"
                    class="btn btn-primary btn-block mb-5">Enviar</button>

            </form>
        </div>

        <div class="col">
        </div>
    </div>
</div>