<div class="row-login-mobile">
    <div class="row">
        <div class="col coluna-esquerda-login text-center">
            <img class="mt-5 login-img img-fluid" src="../../assets/img/img-sessao01.png" alt="Imagem Login">
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <div class="container text-center">

                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form-signup">
                    <img class="img-login" src="../../../assets/img/moneyger-logo.png" alt="Logo Moneyger">
                    <h1 class="h3 mb-3 font-weight-normal">Cadastre-se</h1>
    
                    <div class="form-group">
                        <input formControlName="nome" class="form-control" placeholder="Nome Completo"
                            [ngClass]="{'is-invalid': signUpForm.get('nome').touched && signUpForm.get('nome').invalid}">
                        <div *ngIf="signUpForm.get('nome').touched && signUpForm.get('nome').invalid"
                            class="invalid-feedback">
                            <div *ngIf="signUpForm.get('nome').errors.required">Nome é obrigatório!</div>
                            <div *ngIf="signUpForm.get('nome').errors.minlength">Nome deve ter pelo menos 9 caracteres!
                            </div>
                            <div *ngIf="signUpForm.get('nome').errors.maxlength">Nome deve ter no máximo 255 caracteres!
                            </div>
                            <div *ngIf="signUpForm.get('nome').errors.pattern">Nome deve conter caracteres válidos!</div>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <input type="email" formControlName="email" class="form-control" placeholder="E-mail" [email]="true"
                            [ngClass]="{'is-invalid': signUpForm.get('email').touched && signUpForm.get('email').invalid}">
                        <div *ngIf="signUpForm.get('email').touched && signUpForm.get('email').invalid"
                            class=" invalid-feedback">
                            <div *ngIf="signUpForm.get('email').errors.required">E-mail é obrigatório!</div>
                            <div *ngIf="signUpForm.get('email').errors.email">Digite um e-mail válido!</div>
                        </div>
                    </div>
    
                    <div class=" form-group">
                        <input formControlName="senha" type="password" class="form-control" placeholder="Senha"
                            [ngClass]="{'is-invalid': signUpForm.get('senha').touched && signUpForm.get('senha').invalid}">
                        <div *ngIf="signUpForm.get('senha').touched && signUpForm.get('senha').invalid"
                            class=" invalid-feedback">
                            <div *ngIf="signUpForm.get('senha').errors.required">Senha é obrigatória!</div>
                            <div *ngIf="signUpForm.get('senha').errors.pattern">Senha deve conter apenas letras, números e
                                os caracteres especiais &, @ e #.</div>
                            <div *ngIf="signUpForm.get('senha').errors.minlength">Senha deve ter pelo menos 6 caracteres!
                            </div>
                            <div *ngIf="signUpForm.get('senha').errors.maxlength">Senha deve ter no máximo 16 caracteres!
                            </div>
                        </div>
                    </div>
    
                    <button (click)="onSubmit()" [disabled]="!signUpForm.valid" type="submit" [routerLink]="[ '/login' ]"
                        class="btn btn-primary btn-block">Logar</button>
    
                </form>

                <a class="btn btn-light" [routerLink]="[ '/' ]">Voltar para a Home</a>
                <p>Já é cadastrado? <a [routerLink]="['/login']">Faça login!</a></p>

                <p class="mt-4 mb-3 text-muted">© 2020</p>
            </div>
        </div>
    </div>
</div>

<div class="row row-login-desktop">
    <div class="col-8 coluna-esquerda-login text-center">
        <img class="mt-5 login-img img-fluid" src="../../assets/img/img-sessao01.png" alt="Imagem Login">

    </div>
    <div class="col-4 align-self-center">
        <div class="container text-center">

            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form-signup">
                <img class="img-login" src="../../../assets/img/moneyger-logo.png" alt="Logo Moneyger">
                <h1 class="h3 mb-3 font-weight-normal">Cadastre-se</h1>

                <div class="form-group">
                    <input formControlName="nome" class="form-control" placeholder="Nome Completo"
                        [ngClass]="{'is-invalid': signUpForm.get('nome').touched && signUpForm.get('nome').invalid}">
                    <div *ngIf="signUpForm.get('nome').touched && signUpForm.get('nome').invalid"
                        class="invalid-feedback">
                        <div *ngIf="signUpForm.get('nome').errors.required">Nome é obrigatório!</div>
                        <div *ngIf="signUpForm.get('nome').errors.minlength">Nome deve ter pelo menos 9 caracteres!
                        </div>
                        <div *ngIf="signUpForm.get('nome').errors.maxlength">Nome deve ter no máximo 255 caracteres!
                        </div>
                        <div *ngIf="signUpForm.get('nome').errors.pattern">Nome deve conter caracteres válidos!</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="email" formControlName="email" class="form-control" placeholder="E-mail" [email]="true"
                        [ngClass]="{'is-invalid': signUpForm.get('email').touched && signUpForm.get('email').invalid}">
                    <div *ngIf="signUpForm.get('email').touched && signUpForm.get('email').invalid"
                        class=" invalid-feedback">
                        <div *ngIf="signUpForm.get('email').errors.required">E-mail é obrigatório!</div>
                        <div *ngIf="signUpForm.get('email').errors.email">Digite um e-mail válido!</div>
                    </div>
                </div>

                <div class=" form-group">
                    <input formControlName="senha" type="password" class="form-control" placeholder="Senha"
                        [ngClass]="{'is-invalid': signUpForm.get('senha').touched && signUpForm.get('senha').invalid}">
                    <div *ngIf="signUpForm.get('senha').touched && signUpForm.get('senha').invalid"
                        class=" invalid-feedback">
                        <div *ngIf="signUpForm.get('senha').errors.required">Senha é obrigatória!</div>
                        <div *ngIf="signUpForm.get('senha').errors.pattern">Senha deve conter apenas letras, números e
                            os caracteres especiais &, @ e #.</div>
                        <div *ngIf="signUpForm.get('senha').errors.minlength">Senha deve ter pelo menos 6 caracteres!
                        </div>
                        <div *ngIf="signUpForm.get('senha').errors.maxlength">Senha deve ter no máximo 16 caracteres!
                        </div>
                    </div>
                </div>

                <button (click)="onSubmit()" [disabled]="!signUpForm.valid" type="submit" [routerLink]="[ '/login' ]"
                    class="btn btn-primary btn-block">Logar</button>

            </form>

            <a class="btn btn-light" [routerLink]="[ '/' ]">Voltar para a Home</a>
            <p>Já é cadastrado? <a [routerLink]="['/login']">Faça login!</a></p>

            <p class="mt-4 mb-3 text-muted">© 2020</p>
        </div>
    </div>
</div>