<div class="row-login-mobile">
    <div class="row">
        <div class="col coluna-esquerda-login text-center">
            <img class="mt-5 login-img img-fluid" src="../../assets/img/img-sessao01.png" alt="Imagem Login">
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <div class="container text-center">

                <form [formGroup]="signupForm" (submit)="signup()" class="form-signup">
                    <img class="img-login" src="../../../assets/img/moneyger-logo.png" alt="Logo Moneyger">
                    <h1 class="h3 mb-3 font-weight-normal">Cadastre-se</h1>

                    <div class="form-group">
                        <input formControlName="nome" placeholder="Nome Completo" class="form-control">
                        <ap-vmessage *ngIf="!!signupForm.get('nome').errors?.required"
                            text="Nome Completo é obrigatório!">
                        </ap-vmessage>
                        <ap-vmessage *ngIf="!!signupForm.get('nome').errors?.minlength" text="Mínimo de 7 caracteres!">
                        </ap-vmessage>
                        <ap-vmessage *ngIf="!!signupForm.get('nome').errors?.maxlength" text="Máximo de 50 caracteres!">
                        </ap-vmessage>
                    </div>

                    <div class="form-group">
                        <input #emailInput formControlName="email" placeholder="email" class="form-control" autofocus>
                        <ap-vmessage *ngIf="!!signupForm.get('email').errors?.required" text="Email é obrigatório!">
                        </ap-vmessage>
                        <ap-vmessage *ngIf="!!signupForm.get('email').errors?.email" text="Email inválido!">
                        </ap-vmessage>
                    </div>

                    <div class="form-group">
                        <input formControlName="senha" type="password" placeholder="Senha" class="form-control">
                        <ap-vmessage *ngIf="!!signupForm.get('senha').errors?.required" text="Senha é obrigatória!">
                        </ap-vmessage>
                        <ap-vmessage *ngIf="!!signupForm.get('senha').errors?.minlength" text="Minimo de 8 caracteres!">
                        </ap-vmessage>
                        <ap-vmessage *ngIf="!!signupForm.get('senha').errors?.maxlength"
                            text="Maximo de 18 caracteres!">
                        </ap-vmessage>
                    </div>

                    <button [disabled]="signupForm.valid || signupForm.pending"
                        class="btn btn-primary btn-block">Cadastrar</button>

                </form>

                <a class="btn btn-light" [routerLink]="[ '/' ]">Voltar para a Home</a>
                <p>Já é cadastrado? <a [routerLink]="['/login']">Faça login!</a></p>

                <p class="mt-4 mb-3 text-muted">© 2020</p>
            </div>
        </div>
    </div>
</div>

<div class="row row-login-desktop">
    <div class="col-8 coluna-esquerda-login text-center">
        <img class="mt-5 login-img img-fluid" src="../../assets/img/img-sessao01.png" alt="Imagem Login">

    </div>
    <div class="col-4 align-self-center">
        <div class="container text-center">

            <form [formGroup]="signupForm" (submit)="signup()" class="form-signup">
                <img class="img-login" src="../../../assets/img/moneyger-logo.png" alt="Logo Moneyger">
                <h1 class="h3 mb-3 font-weight-normal">Cadastre-se</h1>

                <div class="form-group">
                    <input formControlName="nome" placeholder="Nome Completo" class="form-control">
                    <ap-vmessage *ngIf="!!signupForm.get('nome').errors?.required" text="Nome Completo é obrigatório!">
                    </ap-vmessage>
                    <ap-vmessage *ngIf="!!signupForm.get('nome').errors?.minlength" text="Mínimo de 7 caracteres!">
                    </ap-vmessage>
                    <ap-vmessage *ngIf="!!signupForm.get('nome').errors?.maxlength" text="Máximo de 50 caracteres!">
                    </ap-vmessage>
                </div>

                <div class="form-group">
                    <input #emailInput formControlName="email" placeholder="email" class="form-control" autofocus>
                    <ap-vmessage *ngIf="!!signupForm.get('email').errors?.required" text="Email é obrigatório!">
                    </ap-vmessage>
                    <ap-vmessage *ngIf="!!signupForm.get('email').errors?.email" text="Email inválido!">
                    </ap-vmessage>
                </div>

                <div class="form-group">
                    <input formControlName="senha" type="password" placeholder="Senha" class="form-control">
                    <ap-vmessage *ngIf="!!signupForm.get('senha').errors?.required" text="Senha é obrigatória!">
                    </ap-vmessage>
                    <ap-vmessage *ngIf="!!signupForm.get('senha').errors?.minlength" text="Minimo de 8 caracteres!">
                    </ap-vmessage>
                    <ap-vmessage *ngIf="!!signupForm.get('senha').errors?.maxlength" text="Maximo de 18 caracteres!">
                    </ap-vmessage>
                </div>

                <button [disabled]="signupForm.valid || signupForm.pending"
                    class="btn btn-primary btn-block">Cadastrar</button>

            </form>

            <a class="btn btn-light" [routerLink]="[ '/' ]">Voltar para a Home</a>
            <p>Já é cadastrado? <a [routerLink]="['/login']">Faça login!</a></p>

            <p class="mt-4 mb-3 text-muted">© 2020</p>
        </div>
    </div>
</div>