<main class="position-relative">
    <div class="container">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>Receitas</h1>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Descrição</th>
                        <th>Tipo</th>
                        <th>Data Efetivação</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Salário Mensal</td>
                        <td>Salário</td>
                        <td>01/02/2020</td>
                        <td>R$ 7000,00</td>
                    </tr>
                    <tr>
                        <td>1,002</td>
                        <td>Recebimento de Pagamento</td>
                        <td>Transferência</td>
                        <td>04/02/2020</td>
                        <td>R$ 90,00</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>Venda de Produto</td>
                        <td>Transferência</td>
                        <td>06/02/2020</td>
                        <td>R$ 40,00</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>Recebimento Aplicação</td>
                        <td>Aplicação</td>
                        <td>06/02/2020</td>
                        <td>R$ 270,00</td>
                    </tr>
                    <tr>
                        <td>1,004</td>
                        <td>Venda de Produto</td>
                        <td>Transferência</td>
                        <td>09/02/2020</td>
                        <td>R$ 120,00</td>
                    </tr>
                    <tr>
                        <td>1,005</td>
                        <td>Recebimento Empréstimo</td>
                        <td>Transferência</td>
                        <td>10/02/2020</td>
                        <td>R$ 700,00</td>
                    </tr>
                    <tr>
                        <td>1,006</td>
                        <td>Aplicação</td>
                        <td>Aplicação</td>
                        <td>14/02/2020</td>
                        <td>R$ 80,00</td>
                    </tr>
                    <tr>
                        <td>1,007</td>
                        <td>Venda de Produto</td>
                        <td>Transferência</td>
                        <td>15/02/2020</td>
                        <td>R$ 110,00</td>
                    </tr>
                    <tr>
                        <td>1,008</td>
                        <td>Recebimento de Pagamento</td>
                        <td>Transferência</td>
                        <td>20/02/2020</td>
                        <td>R$ 90,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div-botoes">
            <button type="button" class="botoes btn btn-outline-success m-2">Inserir Receita</button>
            <button type="button" class="botoes btn btn-outline-danger m-2">Deletar Receita</button>
            <button type="button" class="botoes btn btn-outline-primary m-2">Alterar Receita</button>
        </div>
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>Despesas</h1>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Descrição</th>
                        <th>Tipo</th>
                        <th>Data Efetivação</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Compra Mercado</td>
                        <td>Mercado</td>
                        <td>01/02/2020</td>
                        <td>R$ 238,52</td>
                    </tr>
                    <tr>
                        <td>1,002</td>
                        <td>Mc Donald's</td>
                        <td>Alimentação</td>
                        <td>01/02/2020</td>
                        <td>R$ 36,90</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>Jogo de Video-Game</td>
                        <td>Entretenimento</td>
                        <td>05/02/2020</td>
                        <td>R$ 260,00</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>Gasolina</td>
                        <td>Veículo</td>
                        <td>05/02/2020</td>
                        <td>R$ 122,96</td>
                    </tr>
                    <tr>
                        <td>1,004</td>
                        <td>Empréstimo Amigo</td>
                        <td>Transferência</td>
                        <td>07/02/2020</td>
                        <td>R$ 100,00</td>
                    </tr>
                    <tr>
                        <td>1,005</td>
                        <td>Pagamento Luz</td>
                        <td>Conta</td>
                        <td>08/02/2020</td>
                        <td>R$ 95,87</td>
                    </tr>
                    <tr>
                        <td>1,006</td>
                        <td>Pagamento Água</td>
                        <td>Conta</td>
                        <td>09/02/2020</td>
                        <td>R$ 57,42</td>
                    </tr>
                    <tr>
                        <td>1,007</td>
                        <td>Pagamento Gás</td>
                        <td>Conta</td>
                        <td>10/02/2020</td>
                        <td>R$ 31,79</td>
                    </tr>
                    <tr>
                        <td>1,008</td>
                        <td>Pagamento Condomínio</td>
                        <td>Conta</td>
                        <td>15/02/2020</td>
                        <td>R$ 230,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div-botoes pb-4">
            <button type="button" class="botoes btn btn-outline-success m-2">Inserir Despesa</button>
            <button type="button" class="botoes btn btn-outline-danger m-2">Deletar Despesa</button>
            <button type="button" class="botoes btn btn-outline-primary m-2">Alterar Despesa</button>
        </div>
    </div>
</main>