<body>
  <header
    class="navbar-desktop navbar navbar-expand navbar-dark flex-column flex-md-row navbar-bg text-white sticky-top text-center">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Moneyger">
      <img class="d-inline-block align-middle" src="../assets/img/moneyger-logo-white.png" width="40" height="40"
        alt="Logo">
      <span class="align-middle ml-2">Moneyger</span>
    </a>
    <ul class="navbar-nav flex-row">
      <li class="nav-item mt-1 ml-3">
        <a class="nav-link text-white" href="#sobre">Sobre Nós</a>
      </li>
      <li class="nav-item mt-1">
        <a class="nav-link text-white" href="#como-funciona">Como Funciona</a>
      </li>
    </ul>
    <div class="botoes-header">
      <a class="btn btn-light mr-2" [routerLink]="[ '/login/cadastro' ]">Cadastre-se</a>
      <a class="btn btn-light mr-5" [routerLink]="[ '/login' ]">Login</a>
    </div>
  </header>

  <header
    class="navbar-mobile navbar navbar-expand navbar-dark flex-column flex-md-row navbar-bg text-white sticky-top text-center">
    <div class="row">
      <div class="col-7">
        <a class="navbar-brand" href="/" aria-label="Moneyger">
          <img class="d-inline-block align-middle" src="../assets/img/moneyger-logo-white.png" width="40" height="40"
            alt="Logo">
          <span class="align-middle ml-2">Moneyger</span>
        </a>
      </div>
      <div class="col-5 align-self-center">
        <div class="dropdown div-dropdown">
          <button class="btn btn-light" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img class="m-1" src="../../assets/icon/menu.svg" alt="Menu" width="15px">
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenu2">
            <a class="nav-link" href="#sobre">Sobre Nós</a>
            <a class="nav-link" href="#como-funciona">Como Funciona</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" [routerLink]="[ '/login/cadastro' ]">Cadastre-se</a>
            <a class="nav-link" [routerLink]="[ '/login' ]">Login</a>
          </div>
        </div>
      </div>
    </div>

  </header>

  <div class="main container-fluid position-relative">

    <section class="sessao-01">
      <div class="row mx-3">
        <div class="col-lg-6 align-self-center mb-5 col-texto-sessao-01">
          <p class="texto-sessao01">Gerencie Suas Finanças <strong>Sem Complicação</strong></p>
          <!-- <div class="input-group">
              <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-light ml-1" type="button" id="button-addon2">Cadastre-se</button>
              </div>
            </div> -->
        </div>
        <div class="col-lg-6">
          <img class="img-sessao-01 img-fluid" src="../assets/img/img-mulher-sessao01.png" alt="Mulher sorrindo">
        </div>
      </div>
    </section>

    <section id="sobre" class="sessao-02 pt-5">
      <p class="titulo-centralizado">
        <strong class="mb-2">Sobre</strong>
      </p>
      <div class="row justify-content-center pt-3">
        <div class="col-sm-2 d-inline-block mx-3 text-center">
          <img class="mb-2 img-fluid" src="../assets/img/icons/goal.png" alt="Img" width="140px">
          <h3>Objetividade</h3>
          <p>Saiba exatamente como andam suas transações.</p>
        </div>
        <div class="col-sm-2 d-inline-block mx-3 text-center">
          <img class="mb-2 img-fluid" src="../assets/img/icons/money.png" alt="Img" width="140px">
          <h3>Facilidade</h3>
          <p>Visualize facilmente sua tragetória até seu objetivo.</p>
        </div>
        <div class="col-sm-2 d-inline-block mx-3 text-center">
          <img class="mb-2 img-fluid" src="../assets/img/icons/payment.png" alt="Img" width="140px">
          <h3>Segurança</h3>
          <p>Tenha todos os seus dados em um ambiente seguro.</p>
        </div>
        <div class="col-sm-2 d-inline-block mx-3 text-center">
          <img class="mb-2 img-fluid" src="../assets/img/icons/money_goal.png" alt="Img" width="140px">
          <h3>Controle</h3>
          <p>Alcance seu objetivo com total facilidade e controle.</p>
        </div>
      </div>
    </section>

    <section id="como-funciona" class="sessao-03 pt-5">
      <p class="titulo-centralizado">
        <strong>Como Funciona</strong>
      </p>

      <div class="row justify-content-center pt-3 mx-5">
        <div class="col-sm-2">
          <img class="img-fluid img-sessao-03" src="../assets/img/icons/mountains.png" alt="Img">
        </div>
        <div class="col-md-10 align-self-center">
          <h3>Estabeleça o Objetivo</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis reprehenderit culpa corrupti fuga,
            quaerat id blanditiis, magnam veniam aliquid odio cupiditate perspiciatis sunt eum minus dolorem incidunt
            facilis consequatur labore?</p>
        </div>
      </div>
      <div class="row justify-content-center pt-3 mx-5">
        <div class="col-md-10 align-self-center">
          <h3>Poupe seu Dinheiro</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis reprehenderit culpa corrupti fuga,
            quaerat id blanditiis, magnam veniam aliquid odio cupiditate perspiciatis sunt eum minus dolorem incidunt
            facilis consequatur labore?</p>
        </div>
        <div class="col-md-2">
          <img class="img-fluid img-sessao-03" src="../assets/img/icons/money_pig.png" alt="Img">
        </div>
      </div>
      <div class="row justify-content-center pt-3 mx-5">
        <div class="col-md-2">
          <img class="img-fluid img-sessao-03" src="../assets/img/icons/overcome.png" alt="Img">
        </div>
        <div class="col-md-10 align-self-center">
          <h3>Alcance seu Objetivo</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis reprehenderit culpa corrupti fuga,
            quaerat id blanditiis, magnam veniam aliquid odio cupiditate perspiciatis sunt eum minus dolorem incidunt
            facilis consequatur labore?</p>
        </div>
      </div>
    </section>

    <section class="sessao-04 py-5">
      <p class="titulo-centralizado">
        <strong>FAQ</strong>
      </p>

      <div class="accordion pt-3 container" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                O que preciso para criar minha conta?
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Como que consigo inserir meu objetivo?
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                Posso me cadastrar como Pessoa Jurídica?
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
              proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>

    </section>

    <footer class="mobile-footer py-5">
      <div class="row px-0 mx-0">
        <div class="col">
          <h5>Moneyger</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-white" href="#sobre">Sobre Nós</a></li>
            <li><a class="text-white" href="#como-funciona">Como Funciona</a></li>
            <li><a class="text-white" [routerLink]="[ '/login/cadastro' ]">Cadastre-se</a></li>
            <li><a class="text-white" [routerLink]="[ '/login' ]">Login</a></li>
          </ul>
        </div>
        <div class="col">
          <h5>Social</h5>
          <a class="mr-2" href="#">
            <img src="../../assets/icon/facebook.svg" width="25" height="25" alt="Facebook">
          </a>
          <a class="mr-2" href="#">
            <img src="../../assets/icon/instagram.svg" width="25" height="25" alt="Instagram">
          </a>
          <a href="#">
            <img src="../../assets/icon/linkedin.svg" width="25" height="25" alt="LinkedIn">
          </a>
        </div>
      </div>
      <div class="row px-0 mx-0 mt-3">
        <div class="col">

          <img src="../assets/img/moneyger-logo-white.png" width="24" height="24" fill="none" stroke="currentColor"
            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mb-2" role="img" viewBox="0 0 24 24"
            focusable="false">
          <title>Moneyger</title>
          <small class="mb-3 ml-2 text-white align-middle">© 2020</small>
        </div>
      </div>
    </footer>

    <footer class="desktop-footer py-5">
      <div class="row px-0 mx-0">
        <div class="col">
          <h5>Moneyger</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-white" href="#sobre">Sobre Nós</a></li>
            <li><a class="text-white" href="#como-funciona">Como Funciona</a></li>
            <li><a class="text-white" [routerLink]="[ '/login/cadastro' ]">Cadastre-se</a></li>
            <li><a class="text-white" [routerLink]="[ '/login' ]">Login</a></li>
          </ul>
        </div>
        <div class="col-8">
          <h5>Social</h5>
          <a class="mr-2" href="https://www.facebook.com/brqdigital/">
            <img src="../../assets/icon/facebook.svg" width="25" height="25" alt="Facebook">
          </a>
          <a class="mr-2" href="https://www.instagram.com/brqdigital">
            <img src="../../assets/icon/instagram.svg" width="25" height="25" alt="Instagram">
          </a>
          <a href="https://br.linkedin.com/company/brq">
            <img src="../../assets/icon/linkedin.svg" width="25" height="25" alt="LinkedIn">
          </a>
        </div>
        <div class="col">
          <img src="../assets/img/moneyger-logo-white.png" width="24" height="24" fill="none" stroke="currentColor"
            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mb-2" role="img" viewBox="0 0 24 24"
            focusable="false">
          <title>Moneyger</title>
          <small class="mb-3 ml-2 text-white align-middle">© 2020</small>
        </div>
      </div>
    </footer>

  </div>
</body>