::-webkit-scrollbar {
    display: none;
}

.main {
    position: relative;
    padding-left: 0em;
    padding-right: 0em;
}

h3 {
    color: #4713b8;
}

p, .card-body {
    color: #4d4d4d;
}

header {
    background-color: #6727F2;
}

section {
    padding-left: 2rem;
    padding-right: 2rem;
}
.sessao-01 {
    background-image: linear-gradient(141deg, #6C87D9 0%, #7350F2 51%, #6727F2 75%);
    padding-left: 7.5em;
    padding-top: 5em;
}

.texto-sessao01 {
    color: white;
    font-size: 3.5em;
}

.sessao-02 {
    background-color: #F0F0F2;
}

.sessao-03 {
    background-color: #F0F0F2;
}

.sessao-04 {
    background-color: #F0F0F2;
}

.titulo-centralizado {
    text-align: center;
    font-size: 3em;
    color: #4713b8;
}

.btn-link, .btn-light {
    color: #4713b8;
}

footer {
    padding-left: 7.5em;
    background-color: #6727F2;
    color: white;
}