<div class="row-login-mobile">
    <div class="row">
        <div class="col coluna-esquerda-login text-center">
            <img class="mt-5 login-img img-fluid" src="../../assets/img/img-sessao01.png" alt="Imagem Login">
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <div class="container text-center">

                <form [formGroup]="signIn" class="form-signin">
                    <img class="img-login" src="../../../assets/img/moneyger-logo.png" alt="Logo Moneyger">
                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>

                    <div class="form-group">
                        <input formControlName="email" class="form-control" placeholder="E-mail"
                            autofocus>
                    </div>

                    <div class="form-group">
                        <input formControlName="senha" type="password" class="form-control" placeholder="Senha">
                    </div>

                    <button type="submit" [routerLink]="[ '/dashboard' ]"
                        class="btn btn-primary btn-block">Logar</button>

                </form>

                <a class="btn btn-light" [routerLink]="[ '/' ]">Voltar para a Home</a>
                <p>Não é cadastrado? <a [routerLink]="['/login/cadastro']">Registre-se agora!</a></p>

                <p class="mt-5 mb-3 text-muted">© 2020</p>
            </div>
        </div>
    </div>
</div>

<div class="row row-login-desktop">
    <div class="col-8 coluna-esquerda-login text-center">
        <img class="mt-5 login-img img-fluid" src="../../assets/img/img-sessao01.png" alt="Imagem Login">

    </div>
    <div class="col-4 align-self-center">
        <div class="container text-center">

            <form [formGroup]="signIn" class="form-signin">
                <img class="img-login" src="../../../assets/img/moneyger-logo.png" alt="Logo Moneyger">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>

                <div class="form-group">
                    <input formControlName="email" class="form-control" placeholder="E-mail"
                        autofocus>
                </div>

                <div class="form-group">
                    <input formControlName="senha" type="password" class="form-control" placeholder="Senha">
                </div>

                <button type="submit" [routerLink]="[ '/dashboard' ]" class="btn btn-primary btn-block">Logar</button>

            </form>

            <a class="btn btn-light" [routerLink]="[ '/' ]">Voltar para a Home</a>
            <p>Não é cadastrado? <a [routerLink]="['/login/cadastro']">Registre-se agora!</a></p>

            <p class="mt-5 mb-3 text-muted">© 2020</p>
        </div>
    </div>
</div>