.coluna-esquerda-login{
    background-image: linear-gradient(141deg, #6C87D9 0%, #7350F2 51%, #6727F2 75%);
}

.login-img{
    width: 24rem;
}

.login-img-mobile{
    height: 21rem;
}

.row-login-mobile {
    display: none;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.img-login {
    width: 50%;
}

.btn-primary {
    background-color: #6727F2;
    border: none;
}

@media screen and (max-width: 414px) {

    .img-login {
        display: none;
    }

    .row-login-desktop {
        display: none;
    }
    
    .row-login-mobile {
        display: block;
    }

}